body {
    background-image: url("img/1643005908_15-phonoteka-org-p-fon-les-multyashnii-15.png");
    background-repeat:repeat-y;
    background-size: cover;
    overflow-y:hidden;
}

.lastText {
    display: flex;
    color:black;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    min-height: 50px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 90px;
    box-shadow: inset 0 0 2000px rgba(7, 236, 19, 0.832);
    
}

.firstText {
    font-size: 20px;
    margin-top: 80px;
    margin-left: 170px;
    min-height: 40px;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 0 0 2000px rgba(7, 236, 19, 0.832);
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 170px;
    margin-top: 25%;
    margin-left: 25%;

    width: 100%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-top {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 78px;
    left: 80px;
    z-index: 1;

    animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-top {
    0% {
        transform: translateY(-80px);
    }
    20% {
        transform: translateX(-20px);
    }


    100% {
        transform: translateY(150px) translateX(10px);
    }
}

.coin {
    position: relative;
}

.box {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 50;
    left: 0px;


}