.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  width: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px 29px 20px 41px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;

  border-radius: 15px;
  background-color: #fff;
}

.modal-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: auto;

  width: 428px;
  height: 88.5%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px 29px 20px 41px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;

  border-radius: 15px;
  background-color: #fff;
}

.your-error {
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(43, 43, 43, 0.568);
  border-radius: 50px;
}

.modal-error__true-words {
  text-align: center;
}

.modal-error__false-words {
  text-align: center;
}

.true-words {
  min-width: 199px;
  max-width: 200px;
  overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
  word-break: break-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto; /* нет поддержки для русского языка */
  hyphens: manual;
}

.false-words {
  min-width: 199px;
  max-width: 200px;
  overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
  word-break: break-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto; /* нет поддержки для русского языка */
  hyphens: manual;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  display: flex;
  align-items: center;
  gap: 120px;
}

.avatar {
}

.record-test {
  display: grid;
  padding: 0;
}

.record-list {
  display: flex;
  align-items: center;
  gap: 5px;
}
